---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">Keisuke Tsuji</div>
    <div class="text-3xl py-3 font-bold">Web Frontend Engineer</div>
  </div>
</BaseLayout>
